@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Sofia+Sans:wght@400;700&display=swap");

* {
  font-family: 'Sofia Sans', sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --segmentSize: 200px;
  --pink: rgb(229, 60, 235);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header {
  position: relative;
  bottom: 20px;
}

.header h1 {
  font-size: 4rem;
  font-weight: 300;
}

.players {
  width: 700px;
  display: flex;
  justify-content: space-evenly;
}

.playerContainer {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
  position: relative;
}

.turnIndicator p {
  border: none;
  position: absolute;
  top: -20px;
  color: rgba(0, 0, 0, 0);
  font-weight: 900;
}

.visible {
  border: 2px solid var(--pink);
}

.visible p {
  color: var(--pink);
}

.playerContainer h3 {
  text-decoration: underline;
  padding-top: 5px;
}

.playerContainer h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  position: relative;
  top: -10px;
}

.boardContainer {
  display: grid;
  grid-template-columns: repeat(3, var(--segmentSize));
}

.boardSegment {
border: 2px solid black;
width: var(--segmentSize);
height: var(--segmentSize);
display: flex;
justify-content: center;
align-items: center;
font-size: 5rem;
font-family: 'Nunito', sans-serif;
}

#resetBtn {
  width: 150px;
  height: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--pink);
  font-size: 1.3rem;
  font-weight: 700;
}

#resetBtn:hover {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.712);
  cursor: pointer;
}

#resetBtn:active {
  background-color: rgb(196, 52, 201);
  transform: scale(0.95);
}